<p id="notice"><%= notice %></p>
<%= render 'waiver' %>
<%= image_tag('signature.png') %>
<p><%= @waiver.full_name.titleize %> | <%= @waiver.created_at.strftime('%m/%d/%y') %></p>


<p>
	<%= link_to 'New Waiver', new_waiver_path %>
	<%= link_to 'Signed Waivers', waivers_path %>
</p>